:root{
   --primary: rgb(17, 38, 616);
}

header{
    background-color: var(--primary);
    text-align: center;
    height: 15vh;
    padding-top: 1.5em;
    justify-content: end;
}

.left-column{
    margin: 3em 0 0 .5em;
    text-align: left;
    width: 30%;
    font-size: 20px;
}

.center-column{
    
}